/** @format */

.education {
  background-color: var(--second-background-color);

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}


.education__list {
  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.education__item {
  // background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  width: 270px;
  box-sizing: border-box;

  @media screen and (max-width: 767.5px) {
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.education__wrap {
  position: relative;
  overflow: hidden;
}

.education__image {
  min-width: 100%;
  position: relative;
//   overflow: hidden;
}
.education__information {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(
    --background-color
  );
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  height: 100%;
  padding: 63px 24px;
  overflow: scroll;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);

  //   font-size: 16px;
  //   line-height: 1.18;
  //   text-align: center;
  //   margin-bottom: 16px;

  //   color: var(--second-text-color);
}

.education__text {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--background-color-section);
  height: 100%;
}

.education__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.education__item:hover .education__information,
.education__item:focus .education__information {
  transform: translateY(0);
}

.education__item:hover,
.education__item:focus {
  border: 1px solid var(--border-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
